.root {
    -fx-background-color: linear-gradient(from 0 0 to 800px 800px ,grey , white)
}
#pane,#pane2 {
    -fx-background-color:  linear-gradient(from 0 0 to 800px 800px ,white , grey);
    -fx-background-radius: 100px;
    
}